{% extends 'index.html' %}
{% load static %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="{% static 'my_apps/css/stu_dashboard.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
</head>

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar" style="background:#E8E8E8;">
            <div class="position-sticky pt-3 text-center">
                {% if profile_picture %}
                    <img src="{{ profile_picture }}" alt="Profile Picture" class="rounded-circle" width="150px" height="150px">
                {% else %}
                    <img src="{% static 'default-profile.png' %}" alt="Default Profile" class="rounded-circle" width="100" height="100">
                {% endif %}
            </div>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="/liveclass/">
                        <i class="bi bi-tv"></i> Live Classes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-activity">
                    </i> Activity</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=""><i class="bi bi-list-check">
                    </i> Survey</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/courseselection/">
                        <i class="bi bi-journal-text">                          
                        </i> My Courses</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" href="/applicationform/">
                        <i class="bi bi-pencil-square">
                        </i> Application form</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-ui-checks-grid">                        
                    </i> Time Table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-check2-square">                    
                    </i> Attendance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/newsemester/">
                        <i class="bi bi-calendar"></i> New Semester</a>
                    </li>
            </ul>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="background:white;">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h2>Welcome <span style="color: black;">{{ current_user }}</span>!</h2>
                <a class='btn btn-primary' href="{% url 'logout' %}">Logout</a>
            </div>
            {% for new in details %}
            <center>
            <button type="button" class="btn btn-outline-primary mb-3" data-bs-toggle="modal" data-bs-target="#newSemesterModal{{ forloop.counter }}">
                Open Semester Form for {{ new.s_fname }}
            </button></center>
            <div style="justify-content: center; background:white; height:750px;">
                <table border="1" >
                    <tr style="margin-left:5px;">
                        <th style="background:rgb(50, 54, 58);width:575px;color:white;text-align: center;justify-content: center;">Request</th>
                        <th style="background:rgb(50, 54, 58);width:575px;color:white;text-align: center;justify-content: center;">Semester</th>
                        <th style="background:rgb(50, 54, 58);width:575px;color:white;text-align: center;justify-content: center;">Status</th>
                    </tr>
             
                    
                    <tr style="background:rgb(210, 211, 213);width:510px;text-align: center;justify-content: center;">
                        {% for req in app%}
                        <td style="background:rgb(210, 211, 213);width:510px;text-align: center;justify-content: center;"><strong>{{req.Subject }}</strong></td>
                        <td style="background:rgb(210, 211, 213);width:510px;text-align: center;justify-content: center;"><strong>{{req.Semester}}</strong></td>
                        <td style="background:rgb(210, 211, 213);width:510px;text-align: center;justify-content: center;"><strong>{{new.Courses}}</strong></td>
                        
                    </tr> 
                 
                        {%endfor%}
                    
                    
                </table>
                {%endfor%}

            {% for new in details %}
            <!-- Trigger Modal Button (you can place it wherever you want) -->
            

            <!-- Modal -->
            <div class="modal fade" id="newSemesterModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="modalTitle{{ forloop.counter }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <form method="POST" class="post-form" action="">
                            {% csrf_token %}
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalTitle{{ forloop.counter }}">Application Form</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="s_fname">First Name:</label>
                                        <input type="text" class="form-control" id="firstname" name="firstname" value="{{ new.s_fname }}">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="s_lname">Last Name:</label>
                                        <input type="text" class="form-control" id="lastname" name="lastname" value="{{ new.s_lname }}">
                                    </div>
                                </div><br>
                            
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="adm_no">Admission Number:</label>
                                        <input type="text" class="form-control" id="admission_no" name="admission_no" value="{{ new.adm_no }}">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="univ_no">University Register Number:</label>
                                        <input type="text" class="form-control" id="university_no" name="university_no" value="{{ new.univ_no }}">
                                    </div>
                                </div><br>
                            
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="Semester">Semester:</label>
                                        <input type="text" class="form-control" id="Semester" name="Semester" value="{{ new.Semester }}">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Branch">Branch:</label>
                                        <input type="text" class="form-control" id="Branch" name="Branch" value="{{ new.s_branch }}">
                                    </div>
                                </div><br>
                            
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="Tutor">Select Tutor:</label>
                                        <select class="form-control" id="Tutor" name="Tutor">
                                            {% for tutor in tutors %}
                                                {% if tutor.f_branch == new.s_branch %}
                                                    <option value="{{ tutor.id }}">{{ tutor.f_fname }} {{ tutor.f_lname }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                            
                                    <div class="col-md-6">
                                        <label for="HoD">Select HOD:</label>
                                        <select class="form-control" id="HoD" name="HoD">
                                            {% for hod in hods %}
                                                {% if hod.f_branch == new.s_branch %}
                                                    <option value="{{ hod.id }}">{{ hod.f_fname }} {{ hod.f_lname }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div><br>
                            
                                <div class="row">
                                    <div class="form-group">
                                        <label for="Principal">Select Principal:</label>
                                        <select class="form-control" id="Principal" name="Principal">
                                            {% for principal in principals %}
                                                <option value="{{ principal.id }}">{{ principal.f_fname }} {{ principal.f_lname }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                            
                                    <div class="form-group">
                                        <label for="Subject">Subject:</label>
                                        <input type="text" class="form-control" id="Subject" name="Subject">
                                    </div>
                                </div><br>
                            
                                <div class="form-group">
                                    <label for="Details">Description:</label>
                                    <textarea class="form-control" id="Details" name="Details"></textarea>
                                </div>
                            </div>
                            
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </main>
    </div>
</div>
{% endblock %}
