{% extends 'index.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'my_apps/css/department.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    
</head>

<nav class="navbar navbar-expand-sm bg-primary navbar-dark" id="Department">
   Computer Science and Engineering
</nav>

<div class="container-fluid ">
    <div class="row">
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block  sidebar" style="height: 750px; background:rgb(224,224,224);  cursor:pointer;">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/csevission/" >
                            <i class="bi bi-tv"></i> Vision Mission
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/csehod/">
                            <i class="bi bi-person-fill"></i> HOD's Desk
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="/csefaculty/">
                            <i class="bi bi-people-fill"></i> Faculty/Staff
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/csefacilities/">
                            <i class="bi bi-activity"></i>Facilities
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/csepublications/">
                            <i class="bi bi-journal-text"></i>  Publications
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cseplacement/">
                            <i class="bi bi-ui-checks-grid"></i> Placement
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cseEvents/">
                            <i class="bi bi-check2-square"></i> Events
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cseclubs/">
                            <i class="bi bi-calendar"></i> Department Committees/Clubs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/computerscience/" >
                            <i class="bi bi-arrow-left"></i> Back
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-3" style="background:rgb(255, 255, 255);height:750px;">
            <!-- Content Box Container -->
            <div class="content-box" style="justify-items: center; background: rgb(255, 255, 255); color: black;">
                <center> <h2>Clubs and Department Commities</h2></center>
                <p>
                  <br>
1. Each semester has a class committee constituted by Class tutor, faculty handling different courses and 2 student representatives. Meetings are held 3 times per semester, 2 after each series and an introductory meeting at the beginning of each sem.
<br>
2. Scrutiny committee was formed for scrutinizing the question papers of 8 th sem exam KTU online exam, as the final sem KTU question paper was prepared from within the department. Each course scrutiny committee was constituted by HOD and a senior faculty member.
<br>
3. Meetings for analysing the result of each sem would also be conducted by the HOD after the publication of results by KTU.
                 </p>
 
                 <script src="{% static 'my_apps/js/department.js' %}"></script>
                </div>
             </main>
 
 {% endblock %}